<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect root to /home" stopProcessing="true">
                    <match url="^$" />
                    <action type="Redirect" url="/home" redirectType="Permanent" />
                </rule>
                <rule name="Rewrite submit to submit.php" stopProcessing="true">
                    <match url="^submit$" />
                    <action type="Rewrite" url="submit.php" />
                </rule>
                <rule name="Rewrite home to home.html" stopProcessing="true">
                    <match url="^home$" />
                    <action type="Rewrite" url="home.html" />
                </rule>
				<rule name="Rewrite services.html to services" stopProcessing="true">
                    <match url="^services$" />
                    <action type="Rewrite" url="services.html" />
                </rule>
                <!-- Optional: Redirect /services.html to /services for SEO -->
                <rule name="Redirect services.html to services" stopProcessing="true">
                    <match url="^services\.html$" />
                    <action type="Redirect" url="/services" redirectType="Permanent" />
                </rule>
				<!-- Rule to rewrite /about to /about.html -->
                <rule name="Rewrite about.html to about" stopProcessing="true">
                    <match url="^about$" />
                    <action type="Rewrite" url="about.html" />
                </rule>
                <!-- Redirect /about.html to /about for SEO -->
                <rule name="Redirect about.html to about" stopProcessing="true">
                    <match url="^about\.html$" />
                    <action type="Redirect" url="/about" redirectType="Permanent" />
                </rule>
				<rule name="Remove PHP Extension Redirect" stopProcessing="true">
                    <match url="(.*)\.php$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Rewrite to PHP File" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}.php" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
           </rules>
        </rewrite>
        <!-- Custom 404 Error Handling -->
        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>